@media (max-width:1200px) {
    .header_contacts-list {
        display: none;
    }
    .header_contacts-list.active {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        background: rgb(255, 255, 255,1);
        text-align: center;
        z-index: 999;
    }
    .header_contacts-list.active .header_contacts-item {
        margin-top: 80px;
    }
    .contact_burger {
        display: block;
    }
}
@media (max-width:768px) {
    .nav_list {
       display: none;
    }
    .menu_burger {
        display: block;
    }
    .nav_list.active {
        display: flex;
        flex-direction: column;
        z-index: 9999;
        padding-top: 100px;
    }
    .mission {
        grid-template-columns: 1fr;
        background: url(../img/mission.jpg);
    }
    .mission_block2 {
        display: none;
    }
    .mission_suptitle.sup, .stories_suptitle.sup {
        background: rgb(255, 255, 255,0.8);
        padding: 10px;
    }
    .stories {
        grid-template-columns: 1fr;
        background: url(../img/stories.jpg);
    }
    .stories_block2 {
        display: none;
    }
}
@media (max-width:440px) {
    .header_logo {
        width: 150px;
    }
    .header_logo img {
        width: 100%;
    }
}